<%- include('../partials/header.ejs') %>
  <div class="card">

<h2>Update Password</h2>
<form action="/auth/<%= user._id %>?_method=PUT" method="POST">
  <input type="password" name="oldPassword" placeholder="Old Password" required />
  <% if (inValid) { %>
           <p style="color: red;"><%= errorMessage %></p>
  <% } %>
  <input type="password" name="newPassword" placeholder="New Password" required />
  <input type="password" name="confirmPassword" placeholder="Confirm New Password" required />
    <% if (missMatch) { %>
           <p style="color: red;"><%= errorMessage %></p>
  <% } %>
  <button type="submit">Update</button>
</form>
  </div>
<%- include('../partials/footer.ejs') %>