<%- include('../partials/header.ejs') %>
<div class="card update-password-card">
  <h2 class="form-title">🔒 Update Password</h2>
  <form action="/auth/<%= user._id %>?_method=PUT" method="POST" class="form-vertical">
    <div class="form-group">
      <input type="password" name="oldPassword" placeholder="Old Password" required autocomplete="current-password" />
      <% if (inValid) { %>
        <p class="error-message"><%= errorMessage %></p>
      <% } %>
    </div>
    <div class="form-group">
      <input type="password" name="newPassword" placeholder="New Password" required autocomplete="new-password" />
    </div>
    <div class="form-group">
      <input type="password" name="confirmPassword" placeholder="Confirm New Password" required autocomplete="new-password" />
      <% if (missMatch) { %>
        <p class="error-message"><%= errorMessage %></p>
      <% } %>
    </div>
    <button type="submit" class="btn btn-success mt-1">Update Password</button>
  </form>
</div>
<%- include('../partials/footer.ejs') %>