<h1>All Books</h1>
<ul>
  <% listBooks.forEach(book => { %>
    <li>
      <a href="/books/<%= book._id %>"><Title>: </Title><%= book.title %></a>
    </li>
    <li>
      <p>Category: <%= book.category %></p>
    </li>
    <li>
      <p>Publisher: <%= book.publisher %></p>
    </li>
    <li>

    <p>Author: <%= book.author?.name || 'No Author Info' %></p>.    </li>
  <% }) %>
</ul>