
  <%- include('../partials/header') %>
      <div class="card">
<h1>All Books</h1>
 

<ul>
<label for="search">Search:</label>
<select id="filter" name="filter">
  <option value="all">All</option>
  <option value="category">Category</option>
  <option value="publisher">Publisher</option>
  <option value="author">Author</option>
  <option value="title">Title</option>
  <option value="isbn">ISBN</option>
</select>
<input type="text" id="search" name="search" placeholder="Search books...">
<form id="searchForm" action="/books/search/" method="GET">
    <input type="hidden" name="filter" value="<%= filter || 'all' %>">
  <button type="submit" id="searchButton">Search</button>
</form>
</ul>

<% if (showAllBooks) { %>
  <% showAllBooks.forEach(book => { %>
      <div class="book-item">
  <a href="/books/<%= book._id %>">
    <img src="<%= book.image %>" alt="<%= book.title %>" width="100" height="150" />
    <p><strong><%= book.title %></strong></p>
  </a>
</div>
    <li>
      <p><strong>Category:</strong> <%= book.category %></p>
    </li>
    <li>
      <p><strong>Publisher:</strong> <%= book.publisher %></p>
    </li>
    <li>
    <p><strong>Author:</strong> <%= book.author?.name || 'No Author Info' %></p>.    </li>
  <% }) %>
<% } else if (findByAuthor) { %>
 <% findByAuthor.forEach(book => { %>

      <div class="book-item">
  <a href="/books/<%= book._id %>">
    <img src="<%= book.image %>" alt="<%= book.title %>" width="100" height="150" />
    <p><strong><%= book.title %></strong></p>
  </a>
</div>
    <li>
      <p><strong>Category:</strong> <%= book.category %></p>
    </li>
    <li>
      <p><strong>Publisher:</strong> <%= book.publisher %></p>
    </li>
    <li>
    <p><strong>Author:</strong> <%= book.author?.name || 'No Author Info' %></p>.    </li>
  <% }) %>



<% } else if (findByTitle) { %>
 <% findByTitle.forEach(book => { %>

      <div class="book-item">
  <a href="/books/<%= book._id %>">
    <img src="<%= book.image %>" alt="<%= book.title %>" width="100" height="150" />
    <p><strong><%= book.title %></strong></p>
  </a>
</div>
    <li>
      <p><strong>Category:</strong> <%= book.category %></p>
    </li>
    <li>
      <p><strong>Publisher:</strong> <%= book.publisher %></p>
    </li>
    <li>
    <p><strong>Author:</strong> <%= book.author?.name || 'No Author Info' %></p>.    </li>
  <% }) %>






<% } else if (findByCategory) { %>
 <% findByCategory.forEach(book => { %>

      <div class="book-item">
  <a href="/books/<%= book._id %>">
    <img src="<%= book.image %>" alt="<%= book.title %>" width="100" height="150" />
    <p><strong><%= book.title %></strong></p>
  </a>
</div>
    <li>
      <p><strong>Category:</strong> <%= book.category %></p>
    </li>
    <li>
      <p><strong>Publisher:</strong> <%= book.publisher %></p>
    </li>
    <li>
    <p><strong>Author:</strong> <%= book.author?.name || 'No Author Info' %></p>.    </li>
  <% }) %>





<% } else if (findByPublisher) { %>
 <% findByPublisher.forEach(book => { %>

      <div class="book-item">
  <a href="/books/<%= book._id %>">
    <img src="<%= book.image %>" alt="<%= book.title %>" width="100" height="150" />
    <p><strong><%= book.title %></strong></p>
  </a>
</div>
    <li>
      <p><strong>Category:</strong> <%= book.category %></p>
    </li>
    <li>
      <p><strong>Publisher:</strong> <%= book.publisher %></p>
    </li>
    <li>
    <p><strong>Author:</strong> <%= book.author?.name || 'No Author Info' %></p>.    </li>
  <% }) %>






<% } else if (findByIsbn) { %>
 <% findByIsbn.forEach(book => { %>

      <div class="book-item">
  <a href="/books/<%= book._id %>">
    <img src="<%= book.image %>" alt="<%= book.title %>" width="100" height="150" />
    <p><strong><%= book.title %></strong></p>
  </a>
</div>
    <li>
      <p><strong>Category:</strong> <%= book.category %></p>
    </li>
    <li>
      <p><strong>Publisher:</strong> <%= book.publisher %></p>
    </li>
    <li>
    <p><strong>Author:</strong> <%= book.author?.name || 'No Author Info' %></p>.    </li>
  <% }) %>
<% } else { %>
  <p>No books found.</p> 
<% } %>
</ul>
      </div>
<%- include('../partials/footer') %>