
  <%- include('../partials/header') %>
      <div class="card">
<h1>All Books</h1>
 

<ul>
<% if (userRole && userRole.role === 'admin') { %>
  <form action="/books/new" method="GET">
    <button type="submit">Add New Book</button>
  </form>
<% } %>

</form>
  <% allBooks.forEach(book => { %>
    <li>
      <a href="/books/<%= book._id %>"><Title>: </Title><%= book.title %></a>
    </li>
    <li>
      <p>Category: <%= book.category %></p>
    </li>
    <li>
      <p>Publisher: <%= book.publisher %></p>
    </li>
    <li>

    <p>Author: <%= book.author?.name || 'No Author Info' %></p>.    </li>
  <% }) %>
</ul>
      </div>
<%- include('../partials/footer') %>