
  <%- include('../partials/header') %>
      <div class="card">
<h1>All Books</h1>
 

<ul>

</form>
  <% findAllBooks.forEach(book => { %>
    <li>
      <div class="book-item">
  <a href="/books/<%= book._id %>">
    <img src="<%= book.image %>" alt="<%= book.title %>" width="100" height="150" />
    <p><%= book.title %></p>
  </a>
</div>
    </li>
    <li>
      <p>Category: <%= book.category %></p>
    </li>
    <li>
      <p>Publisher: <%= book.publisher %></p>
    </li>
    <li>

    <p>Author: <%= book.author?.name || 'No Author Info' %></p>.    </li>
  <% }) %>
</ul>
      </div>
<%- include('../partials/footer') %>