<%- include('../partials/header.ejs') %>
      <div class="card">

<h2><%= findBookById.title %></h2>
<p>Book ISBN: <%= findBookById.isbn %></p>
<p>Book Price: <%= findBookById.unitPrice %></p>
<% if(findBookById.stock > 0){ %>
<p>Stock:  Book is available we have <%= findBookById.stock %> in stock</p>
<% }else{ %>
<p>Stock: Sorry the book is out stock</p>
<% } %>
<p>Book Category: <%= findBookById.category %></p>
<p>Book Publisher<%= findBookById.publisher %></p>
<p>Book Author: <a href="/authors/<%= findBookById.author._id %>"> <%= findBookById.author.name %> </a></p>

<p>Author Biography: <%= findBookById.author.biography %></p>
<img src="<%= findBookById.image %>" alt="<%= findBookById.title %>" width="300" />
<p>About The Book <%= findBookById.description %></p>

<% if (userRole ==='user' || userRole === 'User') { %>
<form action="/orders/newOrder/<%= findBookById._id %>" method="POST">
  <input type="hidden" name="bookId" value="<%= findBookById._id %>" />
  <button type="submit">Add to Cart</button>
</form>
<% } %>

<% if (userRole ==='guest' || userRole === 'Guest') { %>
<form action="/sign-in" method="GET">
  <button type="submit">Sign in </button>
</form>
<% } %>

<% if (userRole === 'admin' || userRole === 'Admin') { %>
<form action="/books/<%= findBookById._id %>/edit">
  <button>Edit</button>
</form>

<form action="/books/<%= findBookById._id %>?_method=DELETE" method="POST">
  <button type="submit">Delete</button>
</form>
<% } %>

      </div>
<%- include('../partials/footer.ejs') %>

