<%- include('../partials/header.ejs') %>
      <div class="card">

<h2><%= findBookById.title %></h2>
<p><strong>ISBN:</strong> <%= findBookById.isbn %></p>
<p><strong>Price:</strong> <%= findBookById.unitPrice %></p>
<% if(findBookById.stock > 0){ %>
<p><strong>Stock:</strong> <span style="color: green;"><%= findBookById.stock %></span></p>
<% }else{ %>
<p><strong>Stock:</strong> <span style="color: red;"><%= findBookById.stock %></span></p>
<% } %>
<p><strong>Category:</strong> <%= findBookById.category %></p>
<p><strong>Publisher:</strong> <%= findBookById.publisher %></p>
<p><strong>Author:</strong> <a href="/authors/<%= findBookById.author._id %>"> <%= findBookById.author.name %> </a></p>

<p><strong>Biography:</strong> <%= findBookById.author.biography %></p>
<img src="<%= findBookById.image %>" alt="<%= findBookById.title %>" width="300" />
<p><strong>About The Book:</strong> <%= findBookById.description %></p>

<% if (userRole ==='user' || userRole === 'User') { %>
<form action="/orders/newOrder/<%= findBookById._id %>" method="POST">
  <input type="hidden" name="bookId" value="<%= findBookById._id %>" />
  <button type="submit">Add to Cart</button>
</form>
<% } %>

<% if (userRole ==='guest' || userRole === 'Guest') { %>
<form action="/sign-in" method="GET">
  <button type="submit">Sign in </button>
</form>
<% } %>

<% if (userRole === 'admin' || userRole === 'Admin') { %>
<form action="/books/<%= findBookById._id %>/edit">
  <button>Edit</button>
</form>

<form action="/books/<%= findBookById._id %>?_method=DELETE" method="POST">
  <button type="submit">Delete</button>
</form>
<% } %>

      </div>
<%- include('../partials/footer.ejs') %>

