<%- include('../partials/header.ejs') %>
      <div class="card">

<h2>Edit Order</h2>
<form action="/orders/<%= order._id %>?_method=PUT" method="POST">
   <label>ISBN:</label>
    <span><%= order.isbn %></span><br/>

    <label>Title:</label>
    <span><%= bookItem.title %></span><br/>

    <label>Unit Price:</label>
    <span><%= bookItem.unitPrice %></span><br/>

  <button type="submit">Update</button>
</form>

      </div>
<%- include('../partials/footer.ejs') %>