<%- include('../partials/header.ejs') %>
      <div class="card">

<h2><%= userData.first %> <%= userData.last %>'s Profile</h2>
<p>Email: <%= userData.email %></p>
<p>Address: <%= userData.address %></p>
<p>Phone: <%= userData.phone %></p>

<h3>Orders:</h3>
<ul>
  <% userData.order.forEach(order => { %>
    <li>
      <a href="/orders/<%= order._id %>">
        Order Date: <%= new Date(order.orderDate).toLocaleString('en-GB', { dateStyle: 'short', timeStyle: 'short' }) %> - 
        Total: <%= order.totalPrice %>
      </a>
    </li>
  <% }) %>
</ul>
      </div>
<%- include('../partials/footer.ejs') %>
  