<%- include('../partials/header.ejs') %>
      <div class="card">

<h2><%= userData.first %> <%= userData.last %>'s Profile</h2>
<p>Email: <%= userData.email %></p>
<p>Address: <%= userData.address %></p>
<p>Phone: <%= userData.phone %></p>
<p>User ID: <%= userData._id %></p>
<% if (userData._id) { %>
  <form action="/users/<%= userData._id %>/edit" method="GET">
    <button type="submit">Update Your Info</button>
  </form>
<% } else { %>
  <p>Missing user ID</p>
<% } %>

<h3>Orders:</h3>
<ul>
  <% userData.order.forEach(order => { %>
    <li>
      <a href="/orders/<%= order._id %>">
        Order Date: <%= new Date(order.orderDate).toLocaleString('en-GB', { dateStyle: 'short', timeStyle: 'short' }) %> - 
        Total: <%= order.totalPrice %>
      </a>
    </li>
  <% }) %>
</ul>
      </div>
<%- include('../partials/footer.ejs') %>
  