
  <%- include('../partials/header') %>
    <div class="card">
<h1>All Authors</h1>

<ul>
  
  <% allAuthors.forEach(author => { %>
    
    <h2>  <a href="/authors/<%= author._id %>"><%= author.name %></a></h2>
    
    <li>
      <p>Biography: <%= author.biography %></p>
    </li>
      <% author.works.forEach(work => { %>
    <li>
      <p> <a href="/bookss/<%= work._id %>"> <%= work.title %></a></p>
    </li>
      <% }) %>
  <% }) %>
</ul>
    </div>
<%- include('../partials/footer') %>