
  <%- include('../partials/header') %>
    <div class="card">
<h1>All Authors</h1>

<ul>
  
  <% allAuthors.forEach(author => { %>
    <li>
      <a href="/authors/<%= author._id %>">Name: <%= author.name %></a>
    </li>
    <li>
      <p>Biography: <%= author.biography %></p>
    </li>
      <% author.works.forEach(work => { %>
    <li>
      <p>Book Published: <%= work.title %></p>
    </li>
      <% }) %>
  <% }) %>
</ul>
    </div>
<%- include('../partials/footer') %>