<%- include('../partials/header.ejs') %>
    <div class="card">
<h2>Edit Author</h2>
<form action="/authors/<%= authors._id %>?_method=PUT" method="POST">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" value="<%= authors.name %>" required />

  <label for="biography">Author Biography:</label>
  <input type="text" id="biography" name="biography" value="<%= authors.biography %>" required />

  <button type="submit">Update</button>
</form>

    </div>
<%- include('../partials/footer.ejs') %>