<%- include('../partials/header.ejs') %>
    <div class="card">

<h2><%= findAuthor.name %></h2>
<p>Author Biography<%= findAuthor.biography %></p>
<p>Works: <%= findAuthor.works.title %></p>
  <label for="authorName">Author Works:</label>
  <% findAuthor.works.forEach(work => { %>
<div class="book-item">
  <a href="/books/<%= work._id %>">
    <img src="<%= work.image %>" alt="<%= work.title %>" width="100" height="150" />
    <p><%= work.title %></p>
  </a>
</div>
  <% }) %>

<% if ( userRole === 'admin' || userRole === 'Admin') { %>
<form action="/authors/<%= findAuthor._id %>/edit">
  <button>Edit</button>
</form>

<form action="/authors/<%= findAuthor._id %>?_method=DELETE" method="POST">
  <button type="submit">Delete</button>
</form>
<% } %>
    </div>
<%- include('../partials/footer.ejs') %>

