<%- include('../partials/header.ejs') %>
    <div class="card">

<h2><%= findAuthor.name %></h2>
<p>Author Biography<%= findAuthor.biography %></p>
<p>Works: <%= findAuthor.works.title %></p>
  <label for="authorName">Author Works:</label>
  <select id="works" name="works">
  <% findAuthor.works.forEach(work => { %>
    <option value="<%= work._id %>">
      <%= work.title %>
    </option>
  <% }) %>
</select>

<form action="/authors/<%= findAuthor._id %>/edit">
  <button>Edit</button>
</form>

<form action="/authors/<%= findAuthor._id %>?_method=DELETE" method="POST">
  <button type="submit">Delete</button>
</form>
    </div>
<%- include('../partials/footer.ejs') %>

